<!DOCTYPE html>
<html>
<head>
	<title>BudgetGPT</title>
</head>
<body>
	<h1>BudgetGPT</h1>
	<div id="chatbotResponses" style="height: 300px; overflow: auto;"></div>
	<div>
		<form onsubmit="event.preventDefault(); getApiResponse();">
			<input type="text" id="prompt" name="prompt" placeholder="Send a message.">
			<button id="submit-button" type="button" onclick="getApiResponse()">Submit</button>
		</form>
	</div>

	<script>
		function getApiResponse() {
      var thinkingIntervalId = thinkingMessage();
      // Disable submit button
      document.getElementById("submit-button").disabled = true;
      document.getElementById("prompt").disabled = true;
			var inputText = document.getElementById("prompt").value;
      // Clear input field
      document.getElementById("prompt").value = "";
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var chatbotResponse = JSON.parse(this.responseText)['chatbot_response'];
					var chatbotResponsesDiv = document.getElementById("chatbotResponses");
					chatbotResponsesDiv.innerHTML += '<p><strong>User:</strong> ' + inputText + '</p>';
					chatbotResponsesDiv.innerHTML += '<p><strong>ChatGPT:</strong> ' + chatbotResponse + '</p>';
					chatbotResponsesDiv.scrollTop = chatbotResponsesDiv.scrollHeight;
					document.getElementById("prompt").value = "";
          // Once response is received, enable submit button
          document.getElementById("submit-button").disabled = false;
          document.getElementById("prompt").disabled = false;
          clearInterval(thinkingIntervalId);
          document.getElementById("prompt").placeholder = "Send a message."
				}
			};
			var params = JSON.stringify({'text': inputText});
			xhr.open("POST", "/chatbot", true);
			xhr.setRequestHeader('Content-type', 'application/json');
			xhr.send(params);
      
		}

    function thinkingMessage() {
      var messageElement = document.getElementById("prompt");
      var dotsCount = 0;
      messageElement.placeholder = "BudgetGPT is thinking.";

      var intervalId = setInterval(function() {
        if (dotsCount == 0) {
          messageElement.placeholder = "BudgetGPT is thinking.";
          dotsCount++;
        } else if (dotsCount == 1) {
          messageElement.placeholder = "BudgetGPT is thinking..";
          dotsCount++;
        } else if (dotsCount == 2) {
          messageElement.placeholder = "BudgetGPT is thinking...";
          dotsCount = 0;
        }
      }, 500);

      return intervalId;
    }


	</script>
</body>
</html>
